{ 
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js"]
    }],
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "jsx-a11y/label-has-associated-control": ["error", {
    "assert": "either"
}]
  },
  "globals": {
    "document": true,
    "window": true
  }
}
